@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.title {
    position: relative;
    background-color: #a4ebf3;
    padding: 20px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: x-large;
    color: #0a043c;
}

.main {
    display: flex;
    flex-direction: row;
}

.left-half {
    flex: 0.6;
    border-right: 3px solid #7868e6;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .left-half {
        border-bottom: 3px solid #7868e6;
        border-right: none;
    }
}